@font-face {
	font-family: 'raleway';
	src: url('fonts/Raleway.otf');
}
@font-face {
	font-family: 'raleway';
	src: url('fonts/Raleway.otf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/RobotoSlab-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/RobotoSlab-Light.ttf');
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('fonts/RobotoSlab-Thin.ttf');
}
@font-face {
	font-family: 'Icons';
	src: url('fonts/MonoSocialIconsFont-1.10.eot');
	src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
	url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
	url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
	url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
	src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.symbol, a.symbol:before {
	font-family: 'Icons';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: #333333;
	font-size: 5em;
	text-align: center;
}

a.symbol:before {
	content: attr(title);
	margin-right: 0.3em;
	font-size: 130%;
}
::selection {
	background: rgba(52, 152, 219, 0.76);
	color: #ecf0f1;
}
::-webkit-scrollbar{
	width: 0.3em;
}
::-webkit-scrollbar-thumb{
	background-color: #3498db; 
}
::-webkit-scrollbar-track{
	background-color: #ecf0f1;
}
* {
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-o-transition:all 0.25s;
	transition:all 0.25s;
}

body {
	background-color: #ecf0f1;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0;
}
.banner {
	width: 100%;
	margin-top: 5%;
}
.push {
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	color: #ecf0f1;
	background-color: #3498db;
	padding: 0.5em 2em;
	width: 8em;
	border: 0;
	border-radius: 0.25em;
	margin: 5%;
	outline: none;
	margin-top: 0;
	position: relative;
	font-size: 1.25em;
	-webkit-transition:none 0.25s;
	-moz-transition:none 0.25s;
	-ms-transition:none 0.25s;
	-o-transition:none 0.25s;
	transition:none 0.25s;

	box-shadow: 0 1px #2980b9, 0 2px #2980b9, 0 3px #2980b9, 0 4px #2980b9, 0 5px #2980b9;
}
.sched {
	width: 15em;
	margin: 1em 0;
	display: none;

}
/*
.ghost {
	font-family: 'Roboto-Regular', 'Open Sans', sans-serif;
	background: transparent;
	color: #3498db;
	box-shadow: none;
	border: solid 3px #3498db;
}
*/
.push:active {
	top: 4px;
	outline: none;
	background-color: #438DBE;
	box-shadow: 0 1px #2980b9;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
#countdown {
	font-family: 'Roboto-Bold', 'Open Sans', sans-serif;
	text-align: center;
	color: #2980b9;
	font-size: 2em;
	margin-top: 1em;
	-webkit-transition:none 0.25s;
	-moz-transition:none 0.25s;
	-ms-transition:none 0.25s;
	-o-transition:none 0.25s;
	transition:none 0.25s;
	/*text-shadow: 1px 1px #3498db, 2px 2px #3498db, 3px 3px #3498db, 4px 4px #3498db, 5px 5px #3498db, 6px 6px #3498db, 7px 7px #3498db, 8px 8px #3498db, 9px 9px #3498db, 10px 10px #3498db, 11px 11px #3498db, 12px 12px #3498db, 13px 13px #3498db, 14px 14px #3498db, 15px 15px #3498db, 16px 16px #3498db, 17px 17px #3498db, 18px 18px #3498db, 19px 19px #3498db, 20px 20px #3498db, 21px 21px #3498db, 22px 22px #3498db, 23px 23px #3498db, 24px 24px #3498db, 25px 25px #3498db, 26px 26px #3498db, 27px 27px #3498db, 28px 28px #3498db, 29px 29px #3498db, 30px 30px#3498db, 31px 31px #3498db, 32px 32px #3498db, 33px 33px #3498db, 34px 34px #3498db, 35px 35px #3498db, 36px 36px #3498db, 37px 37px #3498db, 38px 38px #3498db, 39px 39px #3498db, 40px 40px #3498db, 41px 41px #3498db, 42px 42px #3498db, 43px 43px #3498db, 44px 44px #3498db, 45px 45px #3498db, 46px 46px #3498db, 47px 47px #3498db, 48px 48px #3498db, 49px 49px #3498db, 50px 50px #3498db, 51px 51px #3498db, 52px 52px #3498db, 53px 53px #3498db, 54px 54px #3498db, 55px 55px #3498db, 56px 56px #3498db, 57px 57px #3498db, 58px 58px #3498db, 59px 59px #3498db,60px 60px #3498db, 61px 61px #3498db, 62px 62px #3498db, 63px 63px #3498db, 64px 64px #3498db, 65px 65px #3498db, 66px 66px #3498db, 67px 67px #3498db, 68px 68px #3498db, 69px 69px #3498db, 70px 70px #3498db, 71px 71px #3498db, 72px 72px #3498db, 73px 73px #3498db, 74px 74px #3498db, 75px 75px #3498db, 76px 76px #3498db, 77px 77px #3498db, 78px 78px #3498db, 79px 79px #3498db, 80px 80px #3498db, 81px 81px #3498db, 82px 82px #3498db, 83px 83px #3498db, 84px 84px #3498db, 85px 85px #3498db, 86px 86px #3498db, 87px 87px #3498db, 88px 88px #3498db, 89px 89px #3498db, 90px 90px #3498db, 91px 91px #3498db, 92px 92px #3498db, 93px 93px #3498db, 94px 94px #3498db, 95px 95px #3498db, 96px 96px #3498db, 97px 97px #3498db, 98px 98px #3498db, 99px 99px #3498db;
	
	text-shadow: 1px 1px #3498db, 2px 2px #3498db, 3px 3px #3498db, 4px 4px #3498db, 5px 5px #3498db, 6px 6px #3498db, 7px 7px #3498db;*/
}
#changeBase {
	margin-top: 2em;
	font-family: 'Open Sans', sans-serif;
	background: #ecf0f1;
	color: #3498db;
	box-shadow: none;
	padding: 0.5em 1.5em;
	width: 15em;
	border: solid 2px #3498db;
}
#changeBase:active {
	outline: none;
}
#changeBase:hover {
	color: #FFFFFF;
	background-color: #3498db;
}
.nav {
	position: fixed;
	background: rgba(236, 240, 241, 0.96);
	top: 0px;
	width: 100%;	
	font-size: 1.25em;
	z-index: 5;
	border-bottom: solid 0.1em #3498db;
	font-weight: 100;
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	color: #3498db;
	text-align: center;
}
.menu {
	height: 1em;
	width: auto;
	margin: 1em;
	opacity: 0;
	display: none;
	cursor: pointer;
}
.nav a {
	text-decoration: none;
	display: inline-block;
	color: #3498db;
	margin-left: 1.25em;
	width: 4.25em;
	padding: 1em 0;
	border-bottom: solid 3px #ecf0f1;
}
.nav a:hover {
	border-bottom: solid 3px #3498db;
}
.section {
	color: #3498db;
}
.title {
	font-size: 4em;
	text-align: center;
	color: #2980b9;
	margin: 1.5em;
	margin-left: 0;
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
}
.section p {
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	font-size: 1.25em;
	max-width: 100%;
	display: inline-block; 
}
.section .column {
	margin-left: 0;
}
#team {
	height: auto;
	margin-left: 15%;
}
.schedule {
	width: 100%;
	background-color: #FFFFFF;
	border: solid 1px #2980b9;
	padding: 1em;
	font-size: 1.25em;
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;

}
.venue {
	/*background-color: #1abc9c;*/
	background-color: #3498db;
	color: #FFFFFF;
}
.time {
	/*background-color: #9b59b6;*/
	background-color: #3498db;
	color: #FFFFFF;
}
.blank{
	background-color: #bdc3c7;
	color: #FFFFFF;
}
td {
	width: 12.5%;
	padding: 0.5em;
	text-align: center;
	border: solid 1px #34495e;
}
.event {
	padding: 1em;
	font-size: 1em;
	font-family: 'Roboto-Regular', 'Open Sans', sans-serif;
	color: #2980b9;

}
.result {
	font-size: 1.35em;
	margin-top: 2em;
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	color: #2980b9;
	list-style-type: lower-greek;
}
school {
	font-family: 'Roboto-Regular', 'Open Sans', sans-serif;

}
.margin_top {
	margin-top: 2em;
}
.event_title {
	text-align: center;
	font-family: 'Roboto-Bold', 'Open Sans', sans-serif;
	font-size: 2em;

}
code {
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	color: #BBB;
}
imp {
	font-family: 'Roboto-Bold', 'Open Sans', sans-serif;

}
#squad {
	text-align: center;
}

.eb {
	display: block;
	border-radius: 100%;
	height: 4em;
	width: auto;
	margin: 0 auto;
	position: relative;
	border: solid 5px #ecf0f1;
}
.names {
	color: #3498db;
	margin-top: 1em;
	margin-bottom: 1em;
	text-decoration: none;

}
.names:hover{
	color: #2980b9;
}
.post {
	color: #2980b9;
	font-size: 0.65em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;

}
.squad {
	font-family: 'Roboto-Light', 'Open Sans', sans-serif;
	font-size: 1.25em;
	border-radius: 0.25em;
	display: inline-block;
	border: solid 1px rgba(52, 152, 219, 0.36);
	padding: 2em 0;
	height: 12em;
	background-color: #FFFFFF;
	margin-top: 5%;
}
no {
	float: right;
	text-align: left;
}
.symbol a {
	text-decoration: none;
	color: #2980b9;

}
#contact {
	font-family: 'Roboto-Regular', 'Open Sans', sans-serif;

}
.foot {
	background-color: #3498db;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-align: center;
	font-size: 1em;
	height: 5em;
	margin-top: 3em;
}
@media screen and (orientation:portrait) {
	.column.full,
	.column.two-thirds,
	.column.half,
	.column.one-third,
	.column.one-fourth,
	.nav a {
		margin-left: 0;
		width: 100%;
	}
	.left, .right {
		text-align: center;
	}
	.banner {
		margin-top: 30%;
	}
	.menu {
		opacity: 1;
		display: inline-block;
	}
	.nav a {
		opacity: 0;
		display: none;
	}
	.nav {
		max-height: 3.5em;
	}
	.nav a:hover {
		background-color:  #3498db;
		color: #FFFFFF;
	}
	#team {
		margin-left: 0;
		margin-top: 1em;
	}
	.schedule {
		display: none;
	}
	.sched {
		display: inline-block;
	}
	.squad {
		margin-top: 1em;
	}
	.column.half.symbol {
		width: 47.5%;
	}
}
@media screen and (orientation:landscape) {
	.nav a {
		opacity: 1;
		display: inline-block;
	}
}
